---
import { Image } from "astro:assets";
import logo from "./logo.svg";
import { Icon } from "astro-icon/components";
---

<header class="hidden items-center justify-between px-8 py-8 md:flex">
  <a
    class="flex items-center"
    href={`${import.meta.env.BASE_URL}`}
    aria-label="Idź na stronę główną"
  >
    <Image src={logo} alt="logo" height={64} /><div
      class="pl-8 text-lg font-semibold"
    >
      <span>Koło Naukowe "<span class="text-brand">Tryton</span>"</span>
    </div>
  </a>
  <nav>
    <ul class="flex items-center gap-8 pl-4">
      <li>
        <a
          class="text-lg font-semibold"
          href={`${import.meta.env.BASE_URL}/projekty`}>Projekty</a
        >
      </li>
      <li>
        <a
          class="text-lg font-semibold"
          href={`${import.meta.env.BASE_URL}/obszar-badan`}>Obszar badań</a
        >
      </li>
      <li>
        <a
          class="text-lg font-semibold"
          href={`${import.meta.env.BASE_URL}/statut`}>Statut</a
        >
      </li>
      <li>
        <a
          class="text-lg font-semibold"
          href={`${import.meta.env.BASE_URL}/kontakt`}>Kontakt</a
        >
      </li>
      <li>
        <a href="https://www.facebook.com/profile.php?id=61560157695092"
          ><Icon
            name="fa-brands:facebook-square"
            size={40}
            aria-label="Strona Facebook"
          /></a
        >
      </li>
      <li class="-ml-4">
        <a href="https://www.linkedin.com/company/skn-tryton"
          ><Icon
            name="fa-brands:linkedin"
            size={40}
            aria-label="Strona LinkedIn"
          /></a
        >
      </li>
    </ul>
  </nav>
</header>
